span {
    display: block;
}

.button {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid black 2px;
}

#black {
    background: black;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#purple {
    background: purple;
}